<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership</title>    
</head>
<body style="display: flex;justify-content: center;align-items: center;">
    <div style="width: 600px;height: 250px;background-color: white;
        border-radius: 10px;border: 3px solid lightgray;
        backdrop-filter: blur(5px);justify-content: center;
        align-items: center;margin-top: 50px;">
            <h2 style="margin-top: 20px;
            margin-bottom: 10px;
            padding-bottom: 10px;
            padding-top: 10px;
            text-align: center; ">Login Successful</h2>
            <div style="margin-top: 20px;
            padding-bottom: 20px;
            padding-top: 20px;
            text-align: center;
            font-size: 18px; ">{{userName}}, you have successfully logged into the membership page.</div>
            <div style=" text-align: center;
            margin-top: 20px;
            margin-bottom: 30px;"> 
            <a style="font-size: 20px;color:black; text-decoration:underline ;border:none;width: 190px;
            align-items: center;" href="{{ url_for('signout') }}">Sign Out</a>
    </div>    
</body>
</html>