*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 20px ;
}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 12px 20px;
}
.logo {
    flex:none;
    width:auto;
    text-align: left
}
.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: black;
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
.item{
    flex:none; 
    width:auto;
    margin-right: 10px;
    text-align: right;
}
.welcome{
    height: 250px;
    background-color: lightblue; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    width: 360px;
    height: 40px;
    text-align: center; 
    font-size: 40px;
}
.wrapper{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.items1{
    height: 50px;
    width: 380px;
    display: flex;
    background-color: lightblue;
}
.img1{
    width: 80px;
    height: 50px;
}
.pm{
    padding-left: 10px;
    padding-top: 15px;
}
.items2{ 
    width: 180px;
    background-color: lightblue;
}
.img2{
    max-width: 100%;
    height:auto;
}
.text1{
    text-align: center;
}
@media (max-width: 1200px){
    .wrapper{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .items1{
        height: 50px;
        width: 45%;
        background-color: lightblue;
        flex-grow:1;
    }
    .item3{
        flex: 100%;
    }
    .items2{ 
        width: 20%;
        background-color: lightblue;
        flex-grow: 1;
    }
    .img2{
        max-width: auto;
        height:auto;
    }
}   
@media (max-width: 600px) and (min-width: 360px) {
    .items1{
        flex: 1 1 100%;
        display: flex;
        background-color: lightblue;
    }
    .items2{ 
        flex: 1 1 100%;
        background-color: lightblue;
    }
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: lightblue;
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {
        padding: 10px;
        color: black;
    }
    .open-menu , .close-menu {
        display: block;
    }
    #check:checked ~ .menu {right: 0;}
}